
.input{
    font-size:1.2em;
    /* height:2.7em; */
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    display:block;
    outline:0;
    padding:0 1em;
    text-decoration:none;
  }
  h3{
    color:#e5e9ee;
    font-size:1.2em;
  }
  h1{
    color: rgb(255, 255, 255);
  }
  label { 
      float: left; 
      width: 10em; 
      font-size:20px;
      margin-right: 1em; 
      text-align: left; 
      color:white
  }
  .el-select {
    width:100%,
  }
  .el-option {
    font-size: 12px;
    color: #d4dae0;
  }
  /* .el-tabs_item{
    font-size: 25px !important;

  } */
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(27, 70, 99, 0.5);
}

li {
    float: left;
    font-family:"Helvetica",
}

li label {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li label:hover {
    background-color: rgba(255, 255, 255, 0.644);
}*/
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
ul>li {
  display: inline-block;
  width: 200px;
  text-align: center;
  height: 50px;
  position: relative;
  line-height: 50px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
/* .nav_active{
  border-bottom: 4px solid #4b8df8;
  box-shadow: -10px 0px 15px #034c6a inset,
  0px -10px 15px #034c6a inset, 
  10px 0px 15px #034c6a inset, 
  0px 10px 15px #034c6a inset;

  box-sizing: border-box;
} */
ul>li :hover{
  box-sizing: border-box;
  border-radius: .4rem;
}
i{
  color: #e5e9ee;
}